<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <!-- Logo and Brand -->
        <div class="d-flex align-items-center">
            <div class="navbar-logo me-3">
                <img src="{{ '/logo.png' | relative_url }}" alt="Levant Strategic Centre Logo" class="navbar-logo-img">
            </div>
            <a class="navbar-brand" href="{{ '/home.html' | relative_url }}">Levant Strategic Centre</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/home.html' | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/aboutus.html' | relative_url }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/research.html' | relative_url }}">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/events.html' | relative_url }}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/newsroom.html' | relative_url }}">Newsroom</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/contactus.html' | relative_url }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

